<footer class="light text-center bg-dark pad">
	<div class="row" style="margin-right: 15px">
		<div class="col-md-6 text-center">
			<h5 class="">WINCRAFT gGMBH</h5>
			<p>
				<span>Johannes Ende</span><br/>
				<a class="green" href="https://wincraft.org">https://wincraft.org</a>
			</p>
			<hr class="clearfix w-100 d-md-none pb-3">
		</div>
		<div class="col-md-6 text-center">
			<h5 class="text-uppercase">Wincraft Data Center</h5>
			<p>
				<span>Ture Claußen</span><br/>
				<a class="green" href="https://gitlab.com/CampFireMan/winapi">WinAPI Version 1.0</a>
			</p>
		</div>
	</div>
	<script type="text/javascript" src="/style/js/bootstrap.bundle.min.js"></script>
</footer>