<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
		<a class="navbar-brand" href="#">
			<img src="/style/media/wincraft.png" width="60" height="auto" class="d-inline-block align-top" alt="">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navigation">
			{{# if user}}
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" title="Dashboard" href="/dashboard">
						<span class="nav-icon orange"><i class="fas fa-tachometer-alt"></i></span>
						<span>Dashboard</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" title="Account">
						<span class="nav-icon blue"><i class="fas fa-user"></i></span>
						<span>Account</span>
					</a>
				</li>
				{{# if admin}}
				<li class="nav-item">
					<a class="nav-link" href="#" title="Account">
						<span class="nav-icon green"><i class="fas fa-chart-area"></i></span>
						<span>Analyse</span>
					</a>
				</li>
				{{/if}}
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" title="Logout" href="/logout">
						<span class="nav-icon red"><i class="fas fa-sign-out-alt"></i></span>
						<span>Logout</span>
					</a>
				</li>
			{{else}}
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" title="Login" href="/login">
						<span class="nav-icon green"><i class="fas fa-sign-in-alt"></i></span>
						<span>Login</span>
						</a>
				</li>
			{{/if}}
			</ul>
		</div>
	</nav>
</header>