{{#if msg.error}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{msg.error}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
{{#if msg.success}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{msg.success}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}