<div class="spacer20">
	<table class="table table-hover">
		<thread>
			<tr>
				<th>Name</th>
				<th>Breitengrad</th>
				<th>Längengrad</th>
				<th>API Schlüssel</th>
			</tr>
		</thread>
		<tbody>
		{{#each this}}
			<tr>
				<td>{{name}}</td>
				<td>{{lat}}</td>
				<td>{{long}}</td>
				<td>{{API_key}}</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</div>