<div class="sizer spacer50">
	<h2>Moin, {{user.first_name}}!</h2>
	<p>Du befindest Dich nun im Wincraft Data Center</p>

	<div class="row">
		<div class="spacer50 content-block col-xl-6">
			<h4 class="font-weight-bold">Meine Wetterstationen</h4>
			{{#if data.weather_stations}}
				{{> my_stations data.weather_stations}}
			{{else}}
				<span>Keine Wetterstationen gefunden.</span>
			{{/if}}
			<div class="spacer20">
				<a class="btn btn-success" href="/dashboard/weather_station/register">Wetterstation hinzufügen <i class="fas fa-plus"></i></a>
			</div>
		</div>

		<div class="spacer50 content-block col-xl-6">
			<h4 class="font-weight-bold">Meine Windkraftanlagen</h4>
			{{#if data.turbines}}
				{{> my_stations data.turbines}}
			{{else}}
				<span>Keine Windkraftanlagen gefunden.</span>
			{{/if}}
			<div class="spacer20">
				<a class="btn btn-success" href="/dashboard/turbine/register">Windkraftanlage hinzufügen <i class="fas fa-plus"></i></a>
			</div>
		</div>
	</div>
</div>