<div class="login-page">
    <div class="form bg-dark">
        <form class="login-form" id="register-weather-station" name="register-weather-station" method="post" action="/dashboard/weather_station/register">
            <input name="name" type="text" placeholder="Name der Station" autofocus required />
            <input name="lat" type="text" placeholder="Breitengrad" required />
            <input name="long" type="text" placeholder="Längengrad" required />
            <button type="submit" name="register-weather-station">Speichern</button>
        </form>
    </div>
</div>