<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wincraft Data Center</title>
    <link rel="stylesheet" href="/style/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/css/style.css">
    <link rel="stylesheet" href="/style/css/fontawesome.min.css">
    <link rel="stylesheet" href="/style/css/solid.min.css">
</head>
<body class="bg-light">
	{{> header}}

    {{> message this}}

    {{{body}}}

	{{> footer}}
</body>
</html>