<div class="login-page">
	<div class="form bg-dark">
		<form class="login-form" id="login" name="login" method="post" action="/login">
			<input type="text" name="email" placeholder="username" autofocus required />
			<input type="password" name="password" placeholder="password" required />
			<button class="btn" type="submit" value="Sign In">login</button>
			<p class="message">Noch kein Account? <a href="/register">Registrieren</a></p>
		</form>
	</div>
</div>