<div class="login-page">
    <div class="form bg-dark">
        <form class="login-form" id="signup" name="signup" method="post" action="/register">
            <input class="text" name="email" placeholder="E-Mail" type="email" autofocus required />
            <input name="first_name" type="text" placeholder="Vorname" required />
            <input name="last_name" type="text" placeholder="Nachname" required />
            <input name="password" type="password" placeholder="Passwort" required />
            <button class="btn" type="submit" value="Sign Up">Registrieren</button>
            <p class="message">Schon ein Account? <a href="/login">Login</a></p>
        </form>
    </div>
</div>