<style type="text/css">
/* 13. Basic Styling with CSS */

/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke-width: 0.22em;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #d3d3d3;
    stroke: #fff;
}
  
  .focus circle {
  fill: none;
  stroke: steelblue;
}

#graph {
  height: 70vh;
}

.area {
      fill: #eaeaea;
      opacity: 0.5;
  }

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 10vh;          
    height: 5vh;         
    padding: 2px;       
    font: 1em;    
    background: #d3d3d3; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

</style>
<div class="sizer">
<div class="info">
  <ul>
    <li><span>AVG </span><span id="avg"></span>°C</li>
    <li><span>HI </span><span id="min"></span>°C</li>
    <li><span>LO </span><span id="max"></span>°C</li>
  </ul>
</div>
<div id="graph"></div>
</div>
<script type="text/javascript" src="/style/js/jquery.js"></script>
<script type="text/javascript" src="/style/js/d3.min.js"></script>
<script type="text/javascript">
  $.ajax({
    url: "/api/temperature/monthly",
    dataType: "JSON",
    type: "GET",
    data: {station_id: 15, year: "2019", month: 3}
  }).done(result => {
    if (result.error) {
      return;
    }
    const data = result.msg;
    var avg_info = parseData(data, "avg");
    var min_info = parseData(data, "min");
    var max_info = parseData(data, "max");
    var domain_min = (min_info.min < 0) ? Math.ceil(min_info.min) : 0;

    $('#avg').html(avg_info.avg);
    $('#min').html(min_info.min);
    $('#max').html(max_info.max);

    var div = d3.select("body").append("div") 
    .attr("class", "tooltip")       
    .style("opacity", 0);

    // 2. Use the margin convention practice 
    var margin = {top: 50, right: 50, bottom: 100, left: 50}
      , width = document.getElementById('graph').clientWidth - margin.left - margin.right // Use the window's width 
      , height = document.getElementById('graph').clientHeight - margin.top - margin.bottom; // Use the window's height

    // The number of datapoints
    var n = data.length;
    var parseTime = d3.timeParse("%Y-%m-%d");
    var formatTime = d3.timeFormat("%d.%m.%Y");

    data.forEach(function(d) {
    d.date = parseTime(d.date);
  });

    var dataPoints = d3.scaleOrdinal(d3.schemeCategory10).domain(d3.keys(data[0]).filter(function(key) { return key !== "date"; }));
    var dataValues = dataPoints.domain().map(function(name) {
    return {
      name: name,
      values: data.map(function(d) {
        return {date: d.date, temp: +d[name]};
      })
    };
  });

    // 5. X scale will use the index of our data
    var xScale = d3.scaleTime()
        .domain(d3.extent(data, function(d) { return d.date; }))
        .range([0, width]); // output

    // 6. Y scale will use the randomly generate number 
    var yScale = d3.scaleLinear()
        .domain([domain_min, Math.floor(max_info.min) + 5]) // input 
        .range([height, 0]); // output 

    // 7. d3's line generator
    var line = d3.line()
        .x(function(d, i) { return xScale(d.date); }) // set the x curr_values for the line generator
        .y(function(d) { return yScale(d.avg); }) // set the y curr_values for the line generator 
        

     var lineMin = d3.line()
        .x(function(d, i) { return xScale(d.date); }) // set the x curr_values for the line generator
        .y(function(d) { return yScale(d.min); }) // set the y curr_values for the line generator 

     var lineMax = d3.line()
        .x(function(d, i) { return xScale(d.date); }) // set the x curr_values for the line generator
        .y(function(d) { return yScale(d.max); }) // set the y curr_values for the line generator 


    // 1. Add the SVG to the page and employ #2
    var svg = d3.select("#graph").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // 3. Call the x axis in a group tag
    svg.append("g")
        .attr("class", "axis axis--x")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(xScale)
          .ticks(n)
          .tickFormat(d3.timeFormat("%d.%m.%Y"))
        ).selectAll("text") 
            .style("text-anchor", "end")
            .attr("dx", "-.9em")
            .attr("dy", ".15em")
            .attr("transform", function(d) {
                return "rotate(-65)" 
                });

    // 4. Call the y axis in a group tag
    svg.append("g")
        .attr("class", "y axis")
        .call(d3.axisLeft(yScale)) // Create an axis component with d3.axisLeft
        .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Temperatur (°C)");


    // 9. Append the path, bind the data, and call the line generator 
    svg.append("path")
        .datum(data) // 10. Binds data to the line 
        .attr("class", "line stroke-orange") // Assign a class for styling 
        .attr("d", line); // 11. Calls the line generator

    svg.append("path")
        .datum(data) // 10. Binds data to the line 
        .attr("class", "line stroke-red") // Assign a class for styling 
        .attr("d", lineMin); // 11. Calls the line generator 

    svg.append("path")
        .datum(data) // 10. Binds data to the line 
        .attr("class", "line stroke-blue") // Assign a class for styling 
        .attr("d", lineMax); // 11. Calls the line generator 

    var test = [];
    dataValues.map(function(d) {
    d.values.map(function(d) { test.push(d)});
    });

    // 12. Appends a circle for each datapoint 
   svg.selectAll(".dot")
        .data(test)
      .enter().append("circle") // Uses the enter().append() method
        .attr("class", "dot") // Assign a class for styling
        .attr("cx", function(d, i) { return xScale(d.date) })
        .attr("cy", function(d) { return yScale(d.temp) })
        .attr("r", "0.22em")
      .on("mouseover", function(d) {    
            div.transition()    
                .duration(200)    
                .style("opacity", .9);    
            div .html(formatTime(d.date) + "<br/>"  + d.temp + "°C")  
                .style("left", (d3.event.pageX) + "px")   
                .style("top", (d3.event.pageY - 28) + "px");  
            })          
        .on("mouseout", function(d) {   
            div.transition()    
                .duration(500)    
                .style("opacity", 0); 
        });
        
    function parseData (array, key) {
      var max = Number.MIN_SAFE_INTEGER;
      var min = Number.MAX_SAFE_INTEGER;
      var avg = 0;
      var curr_val = null;
      for (let i = 0; i < array.length; i++) {
        curr_val = array[i][key];
        avg += curr_val;
        if (curr_val > max) {
          max = curr_val;
        }
        if (curr_val < min) {
          min = curr_val;
        }
      }
      return {"min": round2(min), "max": round2(max), "avg": round2(avg/array.length)};
    }

    function round2 (val) {
      return parseInt(val*100)/100;
    }
  })
</script>