<div class="sizer">
<div id="graph">
    <svg id="rose" viewBox="0 0 960 960" height="100%" width="100%" font-family="sans-serif" font-size="10"></svg>
</div>
</div>
<script type="text/javascript" src="/style/js/jquery.js"></script>
<script type="text/javascript" src="/style/js/d3.min.js"></script>
<script type="text/javascript">
  $.ajax({
    url: "/api/wind/rose",
    dataType: "JSON",
    type: "GET",
    data: {station_id: 1, start: "2019-01-01", end: "2019-01-02"}
  }).done(result => {
    if (result.error) {
      return;
    }
    console.log(result);
    const data = result.msg;
    const directions = data.map(function(d) { return d.direction; });
    const speed_edges = Object.keys(data[0]).filter(function(d) {
        d = parseFloat(d);
        if (typeof d === 'number' && !isNaN(d)) {
            
            return d;
        }
    }).sort(function(a,b) {return a > b});
    console.log(speed_edges);
    //wind_data = data.map(function(d) { return d.values});
    //console.log(wind_data);

    var stack = d3.stack()
    .keys(speed_edges)
    .order(d3.stackOrderNone)
    .offset(d3.stackOffsetNone);
    
    var svg = d3.select("svg"),
        width = 960
        height = 960,
        margin = {top: 40, right: 80, bottom: 40, left: 40},
        innerRadius = 20,
        chartWidth = width - margin.left - margin.right,
        chartHeight= height - margin.top - margin.bottom,
        outerRadius = (Math.min(chartWidth, chartHeight) / 2),
        g = svg.append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

    var angle = d3.scaleLinear()
        .range([0, 2 * Math.PI]);

    var radius = d3.scaleLinear()
        .range([innerRadius, outerRadius]);

    var x = d3.scaleBand()
        .range([0, 2 * Math.PI])
        .align(0);

    var y = d3.scaleLinear() //you can try scaleRadial but it scales differently
        .range([innerRadius, outerRadius]);

    var z = d3.scaleOrdinal()
        .range(["#4242f4", "#42c5f4", "#42f4ce", "#42f456", "#adf442", "#f4e242", "#f4a142", "#f44242", "#f40242"]);

        x.domain(directions);
        y.domain([0, d3.max(data, function(d) { return d.total; })]);
        z.domain(speed_edges);
        // Extend the domain slightly to match the range of [0, 2π].
        angle.domain([0, d3.max(data, function(d,i) { return i + 1; })]);
        radius.domain([0, d3.max(data, function(d) { return d.y0 + d.y; })]);
        angleOffset = -360.0/data.length/2.0;
        g.append("g")
            .selectAll("g")
            .data(stack(data))
            .enter().append("g")
            .attr("fill", function(d) { return z(d.key); })
            .selectAll("path")
            .data(function(d) { return d; })
            .enter().append("path")
            .attr("d", d3.arc()
                .innerRadius(function(d) { return y(d[0]); })
                .outerRadius(function(d) { return y(d[1]); })
                .startAngle(function(d) { return x(d.data.direction); })
                .endAngle(function(d) { return x(d.data.direction) + x.bandwidth(); })
                .padAngle(0.01)
                .padRadius(innerRadius))
            .attr("transform", function() {return "rotate("+ angleOffset + ")"});

        var label = g.append("g")
            .selectAll("g")
            .data(data)
            .enter().append("g")
            .attr("text-anchor", "middle")
            .attr("transform", function(d) { return "rotate(" + ((x(d.direction) + x.bandwidth() / 2) * 180 / Math.PI - (90-angleOffset)) + ")translate(" + (outerRadius+30) + ",0)"; });

        label.append("text")
            .attr("transform", function(d) { return (x(d.direction) + x.bandwidth() / 2 + Math.PI / 2) % (2 * Math.PI) < Math.PI ? "rotate(90)translate(0,16)" : "rotate(-90)translate(0,-9)"; })
            .text(function(d) { return d.direction; })
            .style("font-size",14);

        g.selectAll(".axis")
            .data(d3.range(angle.domain()[1]))
            .enter().append("g")
            .attr("class", "axis")
            .attr("transform", function(d) { return "rotate(" + angle(d) * 180 / Math.PI + ")"; })
            .call(d3.axisLeft()
                .scale(radius.copy().range([-innerRadius, -(outerRadius+10)])));

        var yAxis = g.append("g")
            .attr("text-anchor", "middle");

        var yTick = yAxis
            .selectAll("g")
            .data(y.ticks(5).slice(1))
            .enter().append("g");

        yTick.append("circle")
            .attr("fill", "none")
            .attr("stroke", "gray")
            .attr("stroke-dasharray", "4,4")
            .attr("r", y);

        yTick.append("text")
            .attr("y", function(d) { return -y(d); })
            .attr("dy", "-0.35em")
            .attr("x", function() { return -10; })
            .text(y.tickFormat(5, "s"))
            .style("font-size",16);


        var legend = g.append("g")
            .selectAll("g")
            .data(speed_edges.reverse())
            .enter().append("g")
//            .attr("transform", function(d, i) { return "translate(0," + (i - (speed_edges.length - 1) / 2) * 25 + ")"; });
            .attr("transform", function(d, i) { return "translate(" + (outerRadius+0) + "," + (-outerRadius + 140 +(i - (directions.length - 1) / 2) * 25) + ")"; });

        legend.append("rect")
            .attr("width", 24)
            .attr("height", 24)
            .attr("fill", z);

        legend.append("text")
            .attr("x", 32)
            .attr("y", 12)
            .attr("dy", "0.35em")
            .text(function(d) { return d; })
            .style("font-size",15);

        g.append("text")
            .text('Windspeed in m/s')
            .attr("transform", function(d, i) { return "translate(" + (outerRadius+0) + "," + (-outerRadius - 50) +")"; })
            .style("font-size",20);
    
        
    function parseData (array, key) {
      var max = Number.MIN_SAFE_INTEGER;
      var min = Number.MAX_SAFE_INTEGER;
      var avg = 0;
      var curr_val = null;
      for (let i = 0; i < array.length; i++) {
        curr_val = array[i][key];
        avg += curr_val;
        if (curr_val > max) {
          max = curr_val;
        }
        if (curr_val < min) {
          min = curr_val;
        }
      }
      return {"min": round2(min), "max": round2(max), "avg": round2(avg/array.length)};
    }

    function round2 (val) {
      return parseInt(val*100)/100;
    }
  })
</script>