/*
 * Globals
 */

@font-face { font-family: 'B612';
             src: url('../fonts/B612-Regular.ttf') format('truetype'); }

html {
  height: 100%;
}

body {
	font-family: 'B126', sans-serif;
	color: #272822;
  min-height: 100%;
  position: relative;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

a {
  color: #00c700;
  text-decoration: none;
}

a:hover {
  color: #00AE00;
}

/*
 * Reusables
 */

.sizer {
	padding: 0 30px 311px 30px;
}

.spacer20 {
	margin-top: 20px;
}

.spacer50 {
	margin-top: 50px;
}

.pad-top50 {
  padding-top: 50px;
}

.content-block {
	padding: 0 25px 0 25px;
}

.red {
	color: #F6002E;
}

.green {
	color: #00c700;
}

.orange {
	color: #ff5e16;
}

.blue {
	color: #00a1e9;
}

.stroke-red {
  stroke: #F6002E !important;
}

.stroke-green {
  stroke: #00c700 !important;
}

.stroke-orange {
  stroke:  #ffab00 !important;
}

.stroke-blue {
  stroke: #00a1e9 !important;
}

.light {
  color: rgba(255,255,255,.75);
}

.pad {
  padding: 40px 0 30px 0;
}

/*
 * Navigation
 */

.nav-icon {
	font-size: 22px;
	padding-right: 5px;
}

/*
 * Login
 */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #00c700;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/**
 * Data Center
 */

/* 13. Basic Styling with CSS */

/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke-width: 0.22em;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #d3d3d3;
    stroke: #fff;
}
  
  .focus circle {
  fill: none;
  stroke: steelblue;
}

#graph {
  height: 80vh;
  margin-top: 7vh;
}

.area {
      fill: #eaeaea;
      opacity: 0.5;
  }

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 10vh;          
    height: 5vh;         
    padding: 2px;       
    font: 1em;    
    background: #d3d3d3; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}